html,body,table,p,h1,h2,h3,h4,h5,h6, ul, li, a, label, input, button, textarea, select, th, td, p, div {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 500 !important;
}
html{
  background-color: #F0F8FF;
}
p,label,span,th,td, input{
  font-size: 18px;
}
.sidebar{
  background-color: #2E4057;
}
.sidebar .img-logo{
  width: 90%;
}
.sidebar li{
  margin-top: 10px;
  border: 2px solid #66B2FF;
  border-radius: 10px;
}
.sidebar a{
  font-size: 22px;
  font-weight: 600;
  color: #F0F8FF;
}
.button{
  border-radius: 10px !important;
  font-size: 18px;
}
.table-style th{
  color:#F0F8FF;
  font-size: 20px;
  background-color: #55f;
}
.table-style td{
  border-bottom: 1px solid #272828;
  background-color: aliceblue;
}
